<%- include("header") -%>
<div class="box" id="heading">
  <h1>
    <%=heading%>
  </h1>
</div>
<div class="box">
  <%for(var i=0; i<list.length; i++) { %>
  <div class="item">
    <input type="checkbox">
    <p><%= list[i] %></p>
  </div>
  <%}%>
    
    <form class="item" action=<%= path %> method="post">
  <input type="text" id="task" name="task" placeholder="New Item" autocomplete="off" />
  <button type="submit">+</button>
  </form>
</div>
<%- include("footer") -%>